* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'aside section section section'
    'aside section section section'
    'aside main main main'
    'aside main main main';
  height: 100vh;
  width: 100vw;
}

.aside {
  background-color: #1f1f3d;
  grid-area: aside;
  padding: 20px;
}

.aside__h1 {
  color: #fff;
  font-size: 2em;
  /*border-bottom: 1px solid #a9aad2;*/
  margin: 0;
  padding-bottom: 10px;
}

.aside__button-large {
  background-color: #5356a4;
  color: #e9e9f3;
  border: 1px solid #353567;
  width: 100%;
  height: 40px;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 15px;
}

.aside__div {
  width: 100%;
  height: 1px;
  background-color: #353567;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -18px;
}

.aside__h2 {
  color: #bfbfdd;
  font-size: 1.2em;
  margin-top: 30px;
}

.aside__button-quality {
  display: block;
  border: none;
  background-color: inherit;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: -5px;
}

.aside__input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  background-color: #e9e9f3;
  border: 1px solid #353567;
  margin-bottom: 20px;
  margin-top: -8px;
}

.section {
  background-color: #a9aad2;
  grid-area: section;
  height: 100%;
}

.section__form {
  display: block;
  margin: auto;
  height: 100%;
  width: 45%;
}

.section__form__input-title,
.section__form__input-body {
  width: 100%;
}

/********   MAIN  ********/

.main {
  display: flex;
  flex-wrap: wrap;
  background-color: #eaeaf4;
  grid-area: main;
  padding: 20px;
  height: 100%;
}

.main__container {
  border: 2px solid #1f1f3d;
  border: 2px solid #1f1f3d;
  height: 300px;
  max-width: 300px;
  min-width: 250px;
  width: 30%;
}

.main__container__header {
  background-color: #1f1f3d;
  display: flex;
  height: 40px;
  justify-content: space-between;
}

.main__container__h3 {
  margin-left: 15px;
  margin-bottom: 32px;
}

.main__container__p {
  color: #1f1f3d;
  margin-left: 15px;
}

.main__container__footer {
  background-color: #5356a4;
  color: #ffffff;
  display: flex;
  font-weight: 700;
  font-size: 19px;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

/*.main__container__footer__p{
  font-weight: 
}*/

img {
  height: 30px;
  margin: 5px;
}
