* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.burger {
  display: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'aside section section section'
    'aside section section section'
    'aside main main main'
    'aside main main main';
  height: 100%;
  width: 100vw;
}

.aside {
  background-color: #1f1f3d;
  grid-area: aside;
  min-width: 300px;
}

.aside__h1 {
  border-bottom: 1px solid #353567;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 1.2em;
  padding: 20px;
}

.aside__button-large {
  background-color: #5356a4;
  border: none;
  border-radius: 2px;
  color: #e9e9f3;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  height: 40px;
  margin: 20px auto;
  width: 90%;
}

.aside__button-large:hover {
  background-color: #a9aad2;
}

.aside__div {
  border-bottom: 1px solid #353567;
  border-top: 1px solid #353567;
  margin-bottom: 15px;
}

.aside__h2 {
  color: #bfbfdd;
  font-size: 1em;
  padding: 5px 20px;
}

.aside__button-quality {
  background-color: #1f1f3d;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  height: 30px;
  padding-left: 20px;
  text-align: left;
  width: 100%;
}

.aside__button-quality:hover {
  background-color: #d1421a;
}

.aside__button-quality:active {
  outline: none;
}

.active-button {
  background-color: #d1421a;
  border-left: 8px solid #f58d6f;
  outline: none;
}

.show-more-less {
  background-color: #5356a4;
  border: none;
  border-radius: 2px;
  color: #e9e9f3;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  height: 40px;
  margin: 20px auto;
  width: 90%;
}

.show-more-less:hover {
  background-color: #a9aad2;
}

.aside__input {
  border: none;
  border-radius: 2px;
  display: block;
  height: 40px;
  margin: auto;
  margin-bottom: 30px;
  width: 90%;
}

.section {
  background-color: #a9aad2;
  grid-area: section;
  height: 100%;
  padding-top: 20px;
}

.section__form {
  display: block;
  height: 100%;
  margin: auto;
  min-width: 300px;
  width: 45%;
}

.section__form__input-title {
  border: 1px solid #9092c4;
  border-radius: 2px;
  height: 40px;
  margin: 10px 0px;
  width: 100%;
}

.section__form__input-body {
  border: 1px solid #9092c4;
  border-radius: 2px;
  height: 100px;
  margin: 10px 0px;
  width: 100%;
}

.section__form__div {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 0px 20px 0px;
}

.section__form__div__img-search {
  background-color: #333567;
  border-radius: 2px 0px 0px 2px;
  cursor: text;
  height: 40px;
  margin: 0px;
  padding: 5px;
}

.section__form__div__input-search {
  border-radius: 0px 2px 2px 0px;
  border: 1px solid #9092c4;
  border-left: none;
  font-size: 0.8em;
  padding: 10px;
  width: 100%;
}

.section__form__div__button {
  background-color: #353567;
  border: none;
  border-radius: 2px;
  box-shadow: 3px 3px grey;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 300;
  height: 40px;
  margin: 10px 0px 20px 0px;
  width: 100%;
}

.section__form__div__button:hover {
  background-color: #5355a4;
  box-shadow: 1.5px 1.5px grey;
}

/********   MAIN  ********/

.main {
  background-color: #eaeaf4;
  display: flex;
  flex-wrap: wrap;
  grid-area: main;
  height: 100%;
  padding: 20px;
  min-height: 100vh;
}

.main__container {
  border: 2px solid #1f1f3d;
  border: 2px solid #1f1f3d;
  height: 300px;
  margin: 20px;
  max-width: 300px;
  min-width: 250px;
  width: 30%;
}

.main__container:hover {
  box-shadow: 0 4px 8px 0 #a9aad2, 0 6px 20px 1px #a9aad2;
}

.main__container__header {
  background-color: #1f1f3d;
  display: flex;
  height: 40px;
  justify-content: space-between;
}

.main__container__h3 {
  height: 20px;
  margin: 15px 15px;
  overflow: hidden;
}

.main__container__p {
  color: #1f1f3d;
  height: 143px;
  margin: 19px 10px;
  overflow: scroll;
}

.main__container__footer {
  align-items: center;
  background-color: #5356a4;
  color: #ffffff;
  display: flex;
  font-size: 0.9em;
  font-weight: 700;
  height: 40px;
  justify-content: space-between;
  position: relative;
}

.main__p-idea-prompt {
  border: 2px dashed #a9aad2;
  height: 300px;
  margin: 20px auto;
  text-align: center;
  width: 30%;
}

.main__container__header__img-starred:hover,
.main__container__header__img-delete:hover,
.main__container__footer__img-upvote:hover,
.main__container__footer__img-downvote:hover {
  transform: scale(1.2);
}

.idea-img {
  height: 150px;
  width: 150px;
}

.idea-empty {
  align-items: center;
  background-color: #eaeaf4;
  color: #1f1f3d;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 800;
  width: 100%;
}

.hidden {
  display: none;
}

img {
  cursor: pointer;
  height: 30px;
  margin: 5px;
}

.main-color {
  filter: brightness(35%);
}

@media screen and (max-width: 930px) {
  body {
    display: block;
    padding-top: 50px;
  }

  .burger {
    background-color: #1f1f3d;
    display: block;
    padding: 5px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
  }

  .burger__h2 {
    color: #ffffff;
    display: block;
    margin-top: -35px;
    margin-bottom: 5px;
    text-align: center;
  }

  .burger__p {
    background-color: #1f1f3d;
    margin: 0px;
    width: 100%;
    z-index: 10;
  }

  .aside {
    display: none;
  }

  .section {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .main__container {
    max-width: 300px;
    min-width: 250px;
    width: auto;
  }

  .aside__div {
    margin-bottom: 0px;
  }
}
